body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  color: #434455;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
button {
  cursor: pointer;
}

.email-link:hover,
.email-link:focus {
  color: #404bbf;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.container {
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url("/images/people-office.jpg");
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    background-image: url("/images/people-office@2x.jpg");
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px),
  screen and (min-device-pixel-ratio: 2) {
  .hero {
    background-image: url("/images/screen-Illustrations@2x.jpg");
  }
}

/*===== mobile styles*/
/*HEADER*/
.page-header {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.menu {
  display: none;
}
.contacts-menu {
  display: none;
}
.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.span-logo {
  color: #2e2f42;
}
.mobile-open-button-menu {
  display: flex;
  display: block;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: #fff;
  line-height: 0;
  padding: 0;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-open-btn-icon {
  fill: #2f2f37;
  flex-shrink: 0;
}
.mobile-open-button-menu:hover .mobile-open-btn-icon,
.mobile-open-button-menu:focus .mobile-open-btn-icon {
  fill: #4d5ae5;
}

.nav-container-mobile {
  display: flex;
  justify-content: space-between;
}

/*SECTION 1 HERO ===============================*/
.hero {
  min-width: 320px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("/images/people-office-mob.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 72px;
  padding-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  background-origin: padding-box;
}

.mobile-container-title {
  width: 288px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
  margin-left: auto;
  margin-right: auto;
}
.title-hero {
  display: inline-block;
  color: var(--WHITE, #fff);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  width: 145px;
}
.order-button {
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button:hover,
.order-button:focus {
  background: #404bbf;
}

/*SECTION 2 ========================================*/
.effective-solutions {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  padding-top: 120px;
  padding-bottom: 120px;
}
.icon-image-list {
  display: none;
}
.title-solutions {
  display: none;
}

.sub-title-solutions {
  width: 288px;
  display: inline-block;
  margin-bottom: 8px;
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.text-section-solutions {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 288px;
  display: inline-block;
}
.solutions-list {
  width: 288px;
  margin-left: auto;
  margin-right: auto;
}
.solutions-list:not(:last-child) {
  margin-bottom: 72px;
}

/*SECTION 3 ==============================*/
.page-team {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  background: var(--CLOUD, #f4f4fd);
  padding-top: 96px;
  padding-bottom: 96px;
}
.tittle-team {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.our-team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img-team {
  margin-bottom: 32px;
}
.tittle-section {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.name-team {
  text-align: center;
  margin-bottom: 8px;
}
.text-section {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.major-team {
  text-align: center;
  margin-bottom: 8px;
}
.social-media-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.team-list {
  min-width: 264px;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  padding-bottom: 32px;
}
.mobile-team-list:not(:last-child) {
  margin-bottom: 72px;
}
.icon-sotial-media {
  display: block;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 40px;
  height: 40px;
}

.icon-link-our-team {
  width: 100%;
  height: 100%;
  background-repeat: 50%;
  display: flex;
  border-radius: 50%;
  background-color: #4d5ae5;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link-our-team:hover,
.icon-link-our-team:focus {
  background-color: #404bbf;
}

.icon-our-team {
  fill: #f4f4fd;
  display: block;
}

/*SECTION 4 ==========================*/
.page-portfolio {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding-top: 96px;
  padding-bottom: 96px;
}
.list-portfolio {
  display: flex;
  width: 288px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}
.image-portfolio {
  display: flex;
  width: 288px;
  padding-bottom: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  border: 1px solid var(--CLOUD, #f4f4fd);
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.overlay-marketing {
  display: none;
}
.card-img {
  width: 288px;
  object-fit: cover;
}
.app-description {
  width: 288px;
  height: 56px;
  display: flex;
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  padding-left: 16px;
  padding-right: 16px;
}
/*MOBILE-FOOTER*/
.page-footer {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 96px;
  padding-bottom: 96px;
  background: var(--NAVY-BLUE, #2e2f42);
}
.container-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}
.description-footer {
  width: 288px;
  height: 112px;
  flex-shrink: 0;
}

.logo-footer {
  display: block;
  height: 24px;
  align-items: center;
  flex-shrink: 0;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}
.web-logo {
  color: #f4f4fd;
}
.text-section-footer {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.social-media-footer {
  width: 208px;
  height: 80px;
}
.title-footer-social {
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}
.social-media-list-footer {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.icon-sotial-media {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-footer {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  background-repeat: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
}
.icon-media {
  display: block;
  flex-shrink: 0;
  fill: #f4f4fd;
}
.page-footer-subscribe-container {
  width: 288px;
  height: 136px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.page-footer-subscribe {
  display: block;
  text-align: center;
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.page-footer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-footer-email-box {
  width: 264px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid var(--WHITE, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #ffffff;
  margin-bottom: 16px;
}
.page-footer-email-box::placeholder {
  width: 36px;
  height: 24px;
  color: var(--WHITE, #fff);
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  opacity: 0.6;
}
.page-footer-email-box:focus {
  border-color: #4d5ae5;
  outline-offset: 5px;
  outline-color: transparent;
  outline: none;
}
.page-footer-button-submit {
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  border: none;
  min-width: 165px;
  height: 40px;
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.page-footer-icon {
  margin-left: 16px;
  fill: #ffffff;
}

/*bacdrop mobile menu*/
.container-mobaile-menu {
  position: relative;
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999999999;
  background-color: #fff;
}
.mobile-modal-button-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 0;
  padding: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-modal-button-close-icon {
  fill: #2e2f42;
  stroke-width: 1px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-modal-button-close:hover,
.mobile-modal-button-close:focus {
  border: none;
  fill: #ffffff;
  background-color: #404bbf;
}
.nav-mobile-menu {
  margin-top: 72px;
  margin-right: 153px;
}

@media screen and (min-width: 320px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .menu {
    display: flex;
  }
  .contacts-menu {
    display: flex;
  }
  .mobile-open-button-menu {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1128px;

    padding-left: 15px;
    padding-right: 15px;
  }
  .menu {
    display: flex;
  }
  .contacts-menu {
    display: flex;
  }
}
